.block-color {
    background-color: lightseagreen;
}

.box {
    display: inline-block;
    margin-right: -0.25em;
}

.name {
    font: italic bold 7em Arial, serif color;
    text-align: center;
}

.main-avatar {
    float: left;
}

.block {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.solid-border-body {
    border: 1px solid lightseagreen
}

#lastBox {
    margin-left: 50px;
}