.block-color {
    background-color: lightseagreen;
}

.name {
    font: italic bold 7em Arial, serif color;
    text-align: center;
}

.main-avatar {
    float: left;
}

.block {
    display: inline-block;
    vertical-align: middle;
}
